# SQL Background

## 1 Databases 

Pros compared to spreadsheet:
- You can store more data
- Privacy because of encryption
- Multiple users can query the data at the same time (accessed and presented)

### 1.1 Relational databases

A database structured to recognize relations among stored items of information. You can think of a relational database as a collection of tables. A table is just a set of rows and columns, like a spreadsheet, which represents exactly one type of entity. For example, a table might represent employees in a company or purchases made, but not both.


### 1.2 Tables 


Data organised as rows (records) and columns (fields). Each row, or record, of a table contains information about a single entity. For example, in a table representing employees, each row represents a single person. Each column, or field, of a table contains a single attribute for all rows in the table. For example, in a table representing employees, we might have a column containing first and last names for all employees.

- field names should be lowercase
- field names should have no spaces (underscore)
- field names should be singular
- must pick a unique identifier (identifies a record so that it can be distinguished from other records in the same table)
- the more tables the merrier (avoids duplicates as in a large combined table)


### 1.3 SQL Data Types
- Different data types are stored differently and take up different space
- Certain operations only apply to certain data types
- `VARCHART` flexible string data type that holds small or large string sequences, but SQL offers different strin gdata types depending on the string length
- `INT` flexible integer data type that holds small or large integers, but SQL offers different integer data types depending on the integer length
- `NUMERIC` flexible float data type that holds small or large float, but SQL offers different float data types depending on the float length


### 1.4 Schemas

Shows a databases design including tables that are included in the database and the relations between those tables.


### 1.5 Database storage

Data are stored on servers, which are centralised computers that perform services via requests made over a network.

In [ ]:
# Return title and author fields from poems table
SELECT title, author
FROM poems;

# Return all fields from poems table
SELECT *
FROM poems;